body {
    background-color: gray;
    font-family: 'Times New Roman', Times, serif;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

table th {
    border: 1px solid black;
    padding: 10px;
}

table td {
    border: 1px solid black;
    padding: 10px;
}

.complete{
    background-color: steelblue;
}

.incomplete {
    background-color: hotpink;
}

h1 {
    text-align: center;
}

main {
    text-align: center;
}